@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans:ital,wght@0,300..800;1,300..800&family=Roboto+Flex:opsz,wght@8..144,100..1000&display=swap');

body{
    background-color: #909595;
    font-family: 'Roboto+flex', sans-serif;
    font-size: 1rem;
    color: #F2F5FA;
    margin: 0;
}

h1{
    font-family: 'Merriweather', sans-serif;
    font-size: 36px;
    color: #F2F5FA;
    text-align: center;
}

section{
    padding: 100px 0;
}

.container{
    display: grid;
    place-content: center;
}

.image{
    width: 500px;
    height: 500px;
    position: relative;
    top: -50%;
    z-index: -1;
}

.formulaire{
    border-radius: 60px;
    border: 1px solid #000000;
    width: 20rem;
    height: 2rem;
    padding: 0 1rem;
}

.button{
    border-radius: 60px;
    border: 1px solid #909595;
    background: rgba(227, 6, 19, 80%);
    text-transform: uppercase;
    color: #F2F5FA;
    display: inline-block;
    width: 8rem;
    text-align: center;
    height: 2rem;
}

.button:hover{
    background: #F2F5FA;
    color: rgba(227, 6, 19, 80%);
    transition: ease 0.5s;
}

.form{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 5rem;
}

.form label{
    align-self: baseline;
    margin-bottom: -1rem;
    padding-left: 1rem;
}

.form a{
    align-self: center;
    text-decoration: none;
    color: #F2F5FA;
}

.form a:hover{
    color: rgba(227, 6, 19, 80%);
    text-decoration: underline;
    transition: ease 0.7s;
}

.form form{
    display: flex;
    flex-direction: column;
    align-items: center;
}


.top{
    position: absolute;
    top: 40%;
    left: 40%;
}

header{
    display: flex;
    justify-content: space-between;
}

.imgheader{
    width: 200px;
    height: 200px;
    position: relative;
    top: -30%;  
}

.liste{
    display: flex;
    flex-direction: row;
    gap: 2rem;
    list-style: none;
    margin-right: 1rem;
}

.liste a{
    text-decoration: none;
    color: #F2F5FA;
}

.big{
    height: 19.25rem;
    width: 20rem;
    border-radius: 20px;
    padding: 0.5rem 1rem;
}

.small{
    padding: 0rem 1rem;
}

.card_recipe{
    display: grid;
    grid-template-columns: auto auto;
    column-gap: 10rem;
}

.card{
    background-color: #F2F5FA;
    border-radius: 30px;
    border: 1px solid #000000;
    color: black;
    padding: 0rem 2rem;
}

.toprecipe{
    position: absolute;
    top: 40%;
}

.gridaccueil{
    display: grid;
    grid-template-columns: auto auto;
    column-gap: 5rem;
    row-gap: 3rem;
}

.gridaccueil a{
    text-decoration: none;
}

.card_accueil{
    background-color: #F2F5FA;
    border-radius: 30px;
    border: 1px solid #000000;
    color: black;
    padding: 0rem 2rem;
    height: 8rem;
    width: 30rem;
}

.linkadmin{
    text-decoration: none;
    color: black;
}

.gridadmin{
    display: grid;
    grid-template-columns: auto auto;
    column-gap: 5rem;
}

.board{
    background-color: #F2F5FA;
    border-radius: 30px;
    border: 1px solid #000000;
    color: black;
    padding: 0rem 2rem;
    height: 8rem;
    width: 30rem;
    border-spacing: 1rem;
}

.center{
    text-align: center;
}

.buttonadmin{
    border-radius: 60px;
    border: 1px solid #909595;
    background: rgba(227, 6, 19, 80%);
    text-transform: uppercase;
    color: #F2F5FA;
    display: inline-block;
    width: auto;
    text-align: center;
    height: 2rem;
    margin-top: 1rem;
}

.buttonadmin:hover{
    background: #D9D9D9;
    color: rgba(227, 6, 19, 80%);
    transition: ease 0.5s;
}

.board tr td{
    width: fit-content;
}

.linkflex{
    display: flex;
    justify-content: space-between;
    gap:0.5rem; 
}